[submodule "third_party/godot-cpp"]
	path = third_party/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "third_party/quickjs"]
	path = third_party/quickjs
	url = https://github.com/quickjs/quickjs.git
